<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="IsPending" value="0"/>
    <!--
      הגדרות SMTP - הועברו מתוך App_Code/SendEmail.cs כדי לא לשמור סיסמאות בקוד.
      אבטחה: בפרודקשן מומלץ להעביר את הערכים הללו (ובמיוחד Smtp.Password) לקובץ חיצוני מוגן
      באמצעות appSettings configSource ולהוסיפו ל-gitignore. יש להחליף את הסיסמה שדלפה להיסטוריית git.
    -->
    <add key="Smtp.Host" value="EX-ASHDOD.paz.local"/>
    <add key="Smtp.Port" value="25"/>
    <add key="Smtp.User" value="wrk_mirkam"/>
    <add key="Smtp.Password" value="mp123$"/>
    <add key="Smtp.From" value="wrk_mirkam@pazar.co.il"/>
    <!--
      AuthSecret: מפתח סודי לחתימת HMAC על עוגיות הזהות (AdminData / UserData).
      אבטחה: בפרודקשן יש להחליף לערך אקראי ארוך וייחודי ולשמור אותו מחוץ למקור (configSource מוגן).
      שינוי הערך יחתום מחדש ויאלץ את כל המשתמשים להתחבר מחדש.
    -->
    <add key="AuthSecret" value="Sganit_prod_change_me_Kp7Qx2Lr9Vz4Rn8Tf3Wb6Yd1Hs5Jg0Ca"/>
    <!--
      EnforceUserDataSignature: אכיפת חתימת HMAC על עוגיית UserData (חוסם זיוף SchoolId/RoleId בין בתי ספר).
      ברירת מחדל "false" למעבר הדרגתי: התחברות מחדש חותמת את העוגייה, וקיימים סשנים ישנים ללא חתימה.
      לאחר פריסה, כשרוב המשתמשים התחברו מחדש (או בחלון תחזוקה), יש להעביר ל-"true" כדי לאכוף בפועל.
    -->
    <add key="EnforceUserDataSignature" value="false"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!--<authentication mode="Forms">
          <forms loginUrl="login.aspx" />
      </authentication>
      <authorization>
          <deny users="?" />
      </authorization>-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="he-IL" uiCulture="he"/>
    <httpRuntime requestValidationMode="2.0"/>
    <!-- RemoteOnly: מפתחים על השרת רואים פירוט שגיאות, לקוחות מרוחקים מקבלים עמוד גנרי (מונע דליפת stack trace) -->
    <customErrors mode="RemoteOnly"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <!-- אזהרת פרודקשן: בעת פריסה לפרודקשן יש להגדיר debug="false" (משפר ביצועים ומונע דליפת מידע).
         נשאר "true" כעת לטובת סביבת הפיתוח (IIS Express + debugging חי). יש להפוך ל-false בעת deploy. -->
    <compilation debug="true" targetFramework="4.8">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
    <!--
      אבטחה: אין לאחסן מחרוזות התחברות עם סיסמאות בטקסט גלוי בקובץ זה (גם לא בהערות).
      ההתחברות הפעילה משתמשת ב-Integrated Security בלבד וללא סיסמה.
      אם נדרש בעתיד חיבור עם SQL Auth, יש להעביר אותו לקובץ חיצוני מוגן באמצעות configSource
      ולהוסיף אותו ל-gitignore. הערות עם סיסמאות ישנות הוסרו (יש לראותן כסיסמאות שדלפו ולהחליפן בשרת).
    -->
    <add name="dbDataConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS01;Initial Catalog=Sganit;Integrated Security=True;Pooling=true;Min Pool Size=5;Max Pool Size=200;Connect Timeout=15;"/>
  </connectionStrings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <!--<add name="X-UA-Compatible" value="IE=EmulateIE8"/>-->
        <!-- IE8 rendering different from iis7 on ie7 and ie8 -->
        <!-- כותרות אבטחה (defense-in-depth) - ערכים שמרניים שאינם שוברים את ה-SPA וה-ASMX באותו origin -->
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin"/>
        <!--
          Content-Security-Policy: מותאם למקורות האמיתיים של האפליקציה (נבדק מול index.html):
            - style-src + font-src: Google Fonts (fonts.googleapis.com / fonts.gstatic.com) ו-Font Awesome (cdnjs.cloudflare.com)
            - 'unsafe-inline' ל-style נדרש כי React משתמש ב-style={{}} (inline style attributes) בכל האפליקציה
            - script-src 'unsafe-inline' נדרש לסקריפט המודול של Vite/React; אין eval בבילד הפרודקשן
            - img-src data: עבור אווטארים/אייקונים מוטמעים; connect-src 'self' ל-ASMX באותו origin
          frame-ancestors 'self' מחזק את X-Frame-Options. להדק בעתיד עם nonces במקום unsafe-inline.
        -->
        <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdnjs.cloudflare.com; font-src 'self' data: https://fonts.gstatic.com https://cdnjs.cloudflare.com; img-src 'self' data:; connect-src 'self'; frame-ancestors 'self'; base-uri 'self'; form-action 'self'"/>
        <!-- HSTS: להפעיל רק כאשר כל הגישה לאתר היא דרך HTTPS -->
        <!--<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains"/>-->
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <remove value="Default.htm"/>
        <remove value="Default.asp"/>
        <remove value="index.htm"/>
        <remove value="index.html"/>
        <remove value="default.aspx"/>
        <remove value="iisstart.htm"/>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>